*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    overflow-x: hidden;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

p, h1, h2, h3, h4, a{
    text-shadow: -2px 1px 1px #ff29f5,
    2px 1px 1px #1a41ff;
}

p{
    font-size: 18px;
}

section{
    width: 100%;
    min-height: 75vh;
    display: flex;
}

section div{
    width: 50%;
}

body{
    background: #000;
    padding-top: 80px;
}

header{
    width: 100%;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    background: rgb(20, 20, 20);
    border-bottom: 1px solid #a2ecff;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header:hover{
    opacity: 1
}

header img{
    cursor: pointer;
    transition: linear .3s;
}

#menu{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px;
    width: 500px;
}

#menu li a {
    width: 100%;
    color: rgb(202, 202, 202);
    transition: ease-in-out .2s;
    text-shadow: -2px 1px 1px #ff29f5,
                 2px 1px 1px #1a41ff;
    font-size: 18px;
}

#menu li a:hover{
    text-decoration: underline;
    color: #fff;
    text-shadow: -2px 1px 1px #ff29f5,
                 2px 1px 1px #1a41ff
                 0px 0px 10px rgb(255, 255, 255);
    font-size: 20px;
}

#quem-sou-eu-section{
    position: relative;
}

#quem-sou-eu-section #text-apresentation-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

#eu-sou-vitor-div{
    width: 420px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#eu-sou-vitor-div img{
    width: 100px;
}

#quem-sou-eu-section #text-apresentation-div h2{
    font-size: 56px;
    font-weight: 300;
}

#quem-sou-eu-section #text-apresentation-div h4{
    font-weight: 300;
    width: 420px;
    margin-bottom: 50px;
    font-size: 18px;
}


#quem-sou-eu-section #illustration-div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
}

#quem-sou-eu-section #illustration-div #illustration-background-blue{
    rotate: 20deg;
    position: absolute;
    top: -110px;
    right: 30px;
    animation: illustration-background-blue-animation ease-in-out 1.3s infinite alternate;
    scale: 1.5;
}

#quem-sou-eu-section #illustration-div #illustration-background-pink{
    rotate: 20deg;
    transform: scale(.9);
    position: absolute;
    top: 20px;
    right: -50px;
    animation: illustration-background-pink-animation ease-in-out .8s infinite alternate;
}

#quem-sou-eu-section #illustration-div #illustration-background-white{
    rotate: 20deg;
    transform: scale(1.2);
    position: absolute;
    top: -40px;
    right: -40px;
}

@keyframes illustration-background-pink-animation{
    from{
        position: absolute;
        top: 20px;
        right: -50px;
    }
    to{
        position: absolute;
        top: 30px;
        right: -40px;   
    }
}

@keyframes illustration-background-blue-animation{
    from{
        position: absolute;
        top: -110px;
        right: 30px;
    }
    to{
        position: absolute;
        top: -30px;
        right: 40px;   
    }
}

#btn-contatos{
    width: 100%;
    max-width: 420px;
    height: 60px;
    border: 1px solid #a2ecff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: transparent;
    cursor: pointer;
    font-size: 18px;
    transition: linear .1s;
}

#btn-contatos:hover{
    border: 2px solid #a2ecff;
    font-size: 20px;
}

#btn-contatos a{
    color: white;
    font-weight: 700;
}

#avatar-div, #quem-eu-sou-text-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

#avatar-div{
    align-items: flex-end;
    margin-right: 30px;
}

#quem-eu-sou-text-div{
    align-items: flex-start;
    margin-left: 30px;
}

#quem-eu-sou-text-div h2{
    font-size: 56px;
    margin-bottom: 30px;
}

#quem-eu-sou-text-div ul{
    max-width: 420px;
}

#quem-eu-sou-text-div ul li{
    font-size: 18px;
    margin-bottom: 10px;
}

#projetos-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

#projetos-section h2, #skills-section h2, #contatos-section h2{
    font-size: 56px;
    margin-bottom: 50px;
}

#projetos-section #cards-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}

#projetos-section #cards-div .cards{
    width: 350px;
    height: 250px;
    border: 1px solid #a2ecff;
    border-radius: 10px;
    opacity: .7;
    cursor: pointer;
    background: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

#projetos-section #cards-div .cards:hover{
    border: 3px solid #a2ecff;
    opacity: 1;
    background: rgb(0, 0, 0);
}

.image-card{
    width: 100%;
    height: 140px;
    background: white;
}

.card-title{
    width: 100%;
    font-size: 20px;
}

.card-tecnologias{
    width: 100%;
    font-size: 14px;
}

.cards p{
    text-shadow: none;
    font-weight: 200;
    text-shadow: -2px 1px 1px #ff29f5,
    2px 1px 1px #1a41ff;

}

.cards:hover p{
    font-weight: 400;
}

#skills-section, #contatos-section{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

#skills-section div, #contatos-section div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    padding: 20px;
}

#skills-section div figure, #contatos-section div figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: .8s linear;
    cursor: pointer;
    opacity: .6;
    transition: .3s linear;
    padding: 10px;
}

#skills-section div figure p, #contatos-section div figure p{
    opacity: 0;
    transition: .3s linear;
}

#skills-section div figure:hover p,
#contatos-section div figure:hover p,
#skills-section div figure:hover,
#contatos-section div figure:hover{
    opacity: 1;
}

#skills-section div figure:hover,
#contatos-section div figure:hover{
    transform: scale(1.1);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-top: 1px solid #a2ecff;
}